@import "../../packages/ui/styles/globals.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-auto-front-gray: var(--auto-front-gray);
  --color-auto-back-gray: var(--auto-back-gray);
}

@utility container {
  @apply mx-auto;
  width: 100%;

  @media (width >=40rem) {
    max-width: 40rem;
  }

  @media (width >=48rem) {
    max-width: 48rem;
  }
}

.light {
  --auto-front-gray: rgb(0, 0, 0);
  --auto-back-gray: rgb(255, 255, 255);
}

.dark {
  --auto-front-gray: rgb(255 255 255);
  --auto-back-gray: rgb(17 24 39);
}

html {
  font-size: clamp(16px, 4.27vw, 18px);
}

body,
input,
textarea {
  @apply bg-gray-100 dark:bg-gray-800 dark:text-gray-400 font-light;
}

a {
  &.link-primary {
    &:link {
      @apply text-teal-500;
    }

    &:visited {
      @apply text-teal-500;
    }

    &:hover {
      @apply text-pink-700 underline;
    }
  }

  &.link-light {
    &:hover {
      @apply underline;
    }
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.responsive-masonry {
  column-gap: var(--gap);
  column-count: var(--cols-default);
}

@media (min-width: 640px) {
  .responsive-masonry {
    column-count: var(--cols-640);
  }
}

@media (min-width: 1024px) {
  .responsive-masonry {
    column-count: var(--cols-1024);
  }
}

@media (min-width: 1440px) {
  .responsive-masonry {
    column-count: var(--cols-1440);
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: var(--gap);
}
